.cart {
	&__link {
		display: flex;
		align-items: center;
		font-size: 18px;
		gap: 10px;
		margin-bottom: 20px;
		&:hover {
			color: $btn-background;
			transition: all 0.3s ease-in-out;
		}
		svg {
			width: 20px;
			height: 20px;
			transform: rotate(90deg);
		}
	}
	&__top {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-bottom: 15px;
		&-left {
			display: flex;
			align-items: center;
			gap: 10px;
			font-size: 20px;
			font-style: normal;
			font-weight: 600;
			color: #1f1f1f;
			svg {
				width: 40px;
				height: 40px;
			}
		}
		&-right button {
			display: flex;
			align-items: center;
			gap: 10px;
			font-size: 18px;
			font-style: normal;
			font-weight: 500;
			svg {
				width: 35px;
				height: 35px;
			}
			&:hover {
				transition: all 0.3s ease-in-out;
				color: $btn-background;
				svg path {
					transition: all 0.2s ease-in-out;
					fill: $btn-background;
				}
			}
		}
	}
	&__box {
		margin-bottom: 20px;
	}
	&__bottom {
		display: flex;
		align-items: center;
		justify-content: space-between;
		font-size: 20px;
		&-total {
			display: flex;
			align-items: center;
			gap: 15px;
			h3 {
				font-style: normal;
				font-weight: 500;
				line-height: normal;
			}
			p {
				font-weight: 600;
			}
		}
		button {
			font-weight: 600;
			display: inline-block;
			padding: 12px 32px;
			color: #fff;
			background-color: #3fcf5e;
			border: 1px solid rgba(5, 175, 52, 0.53);
			border-radius: 5px;
		}
	}
}
