.product__sort {
	&-label {
		display: flex;
		align-items: center;
		gap: 10px;
		width: 315px;
		text-align: right;
		p {
			font-weight: 600;
		}
		span {
			cursor: pointer;
			color: #3fcf5e;
			border-bottom: 1px dashed #3fcf5e;
		}
	}
	&-box {
	}

	&-popup {
		position: relative;

		ul {
			position: absolute;
			right: 0px;
			top: 0;
			margin-top: 24px;
			background: #ffffff;
			box-shadow: 0px 15px 30px 5px rgba(0, 0, 0, 0.1);
			border-radius: 15px;
			overflow: hidden;
			padding: 13px 0px;
			width: 284px;
			z-index: 2;
			.active {
				background-color: #3fcf5e38;
				font-weight: 700;
			}
			li {
				cursor: pointer;
				margin-bottom: 10px;
				padding: 10px 23px;
				&:active,
				&:hover {
					color: black;
					background-color: #05af3487;
				}
				&:last-child {
					margin-bottom: 0;
				}
			}
		}
	}
}
