@import "./libs/resets";
@import "variables";
@import "./libs/normalize";

@import "components/all";

.hide {
	display: none;
}

.main__catalog {
	margin: 0px 0 75px 0;

	.catalog__title {
		margin-bottom: 30px;
		h3 {
			font-weight: 500;
		}
	}
}

.product {
	margin-bottom: 30px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.catalog__block {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.catalog-cart {
	padding: 20px 20px 30px 20px;
	border: 1px solid #f2f2f2;
	background: $background-w;
	border-radius: 15px;
	box-shadow:
		4px 4px 20px 0px rgba(0, 0, 0, 0.05),
		-8px -8px 15px 0px #fff;
	&__image {
		border-radius: 10px;
		margin-bottom: 15px;
	}
	h2 {
		font-size: 20px;
		color: #000;
		font-weight: 600;
		text-transform: capitalize;
		line-height: normal;
	}
	p {
		font-size: 14px;
		font-weight: 500;
		color: $subtitle;
		margin-top: 2px;
		margin-bottom: 30px;
	}
}

.details {
	font-weight: 600;
	display: inline-block;
	padding: 12px 32px;
	color: #fff;
	background-color: $btn-background;
	border: 1px solid $btn-border;
	border-radius: 5px;
}
.tea-catalog {
	&__title {
		display: flex;
		align-items: center;
		gap: 15px;
		font-size: 18px;
		font-style: normal;
		font-weight: 500;
		line-height: normal;
		color: #bdbdbd;
		margin-bottom: 30px;
	}
	&__link {
		width: 100px;
		height: 30px;
		display: flex;
		align-items: center;
		gap: 5px;
		svg {
			width: 20px;
			height: 20px;
			transform: rotate(90deg);
		}
	}
}

.delivery {
	&__link {
		width: 100px;
		height: 30px;
		display: flex;
		align-items: center;
		gap: 5px;
		margin-bottom: 30px;
		svg {
			transform: rotate(90deg);
		}
	}
	h1 {
		font-size: 22px;
		font-weight: 600;
		margin-bottom: 20px;
	}
	&__info {
		h2 {
			font-size: 18px;
			font-weight: 700;
			margin: 5px 0px;
		}
		p {
			font-weight: 500;
		}
		&-tea {
			margin: 20px 0px;
		}
		&-paid-own {
			margin: 20px 0px;
		}
	}
}

.favorite {
	&-title {
		font-size: 20px;
		font-weight: 600;
	}
}
